* {
  box-sizing: border-box;
}

.note-document {
  display: flex;
  flex-direction: column;
  width: 80vw;
  overflow-wrap: break-word;
}

#body {
  max-height: 80vh;
  overflow-y: auto;
  padding: 10px;
}

#header {
  font-size: 20px;
}

body {
  overflow-y: hidden;
}

.main-container {
  display: flex;
}

#search-input {
  width: 200px;
  padding: 5px;
}

.note-doc-header {
  display: flex;
  margin-bottom: 20px;
}

.archive-container {
  display: flex;
  flex-direction: row-reverse;
}

.delete-btn {
  width: 30px;
  height: 25px;
  font-size: 0.75rem;
  opacity: 65%;
}

.delete-btn:hover {
  opacity: 100%;
  background-color: rgba(181, 2, 2, 0.632);
  border: none;
}

.archive-header {
  margin-bottom: 5px;
  margin-right: auto;
}

.aside {
  width: 300px;
  padding: 0 5px 5px 5px;
  max-height: 100vh;
  overflow-y: auto;
}

.list-container {
  padding: 5px;
  margin-bottom: 10px;
  background-color: aliceblue;
  box-sizing: border-box;
}

.prev-list-container {
  color: black;
  padding-right: 10px;
  margin-right: 10px;
}

.add-btn {
  margin-left: auto;
  width: 100px;
}

.add-btn:hover {
  background-color: rgb(5, 103, 5);
}

.extend-btn {
  padding: 5px;
  width: 100px;
  opacity: 60%;
}

.extend-btn:hover {
  opacity: 100%;
}
