.note-document {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

#header {
  font-size: 20px;
}

.main-container {
  display: flex;
}

.note-doc-header {
  display: flex;
  margin-bottom: 20px;
}

.aside {
  width: 300px;
}

.list-container {
  padding: 5px;
  margin-bottom: 10px;
  background-color: aliceblue;
}

.prev-list-container {
  color: black;
  padding: 10px;
  margin: 10px;
}

.add-btn {
  margin-left: auto;
  width: 100px;
}
